<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>

    <header class="site-header">
      <!-- <div class="header-left">
        <a href="https://github.com/sumitkumar-lab" target="_blank" class="social-link">GitHub</a>
        <a href="https://linkedin.com/in/sumitkumar-airesearcher" target="_blank" class="social-link">LinkedIn</a>
        <a href="https://x.com/the_realkumar" target="_blank" class="social-link">X  </a>
      </div> -->
      
      <div class="header-right">
        <a href="{{ '/' | relative_url }}">About</a>
        <a href="{{ '/publications.html' | relative_url }}">Publications</a>
        <a href="{{ '/index.html' | relative_url }}">Blog</a>
        <a href="{{ '/CV.html' | relative_url }}">CV</a>
        
        <button id="theme-toggle" class="theme-toggle" aria-label="Toggle Dark Mode">
          🌓
        </button>
      </div>
    </header>

    <div class="wrapper">
      <section>
        {{ content }}
      </section>
    </div>

    <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
  </body>
</html>